body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
  }
  
.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0;
}
  
  .nav-links li a {
    text-decoration: none;
    color: #333;
    font-weight: 500;
  }
  
  .nav-btn {
    padding: 10px 15px;
    margin: 0px 50px;
    background-color: #1366c0;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 4px;
  }
  

  .hero-section {
    padding: 100px;
    background-image: url('./1000_F_657138822_Wpy4XtcO0T66zbA2WAmV7cfrvk7HRmRx.jpg');
    background-size: cover;
    background-position: center;
    height: 190px;
    text-align: center;
  }
  
  
  .btn-primary{
    padding: 10px 20px;
    background-color: black;
    margin: 0px -50px;
    color: white;
    border: none;
    border-radius: 4px;
  }
  
  .Boxmain {
    display: flex;
    justify-content: space-between; 
    margin: 10px 250px;
    position: relative;
    top: -15px; 
  }
  
  .box01, .box02, .box03 {
    border: 1px solid ;
    padding: 10px;
    width: 250px;
    background-color: #0056b3;
    color: rgb(212, 212, 212);
    border-radius: 10px;

  }
  
  .box01 a , .box02 a , .box03 a{
    color: black;
    text-decoration: none;
    font-weight: bold;
  }
  
  .box01 ,.box02 , .box03{
    position: relative;
    bottom: 30px;
  }

  h4{
    color: white;
    text-align: center;
  }
  
  